[Unit]
Description=Anxiousbot Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/anxiousbot
ExecStart=/usr/local/bin/poetry run start
Restart=always
RestartSec=5s
StandardOutput=/var/log/anxiousbot/log.log
StandardError=/var/log/anxiousbot/log_error.log

[Install]
WantedBy=multi-user.target
